             .collapsible {
              background-color: transparent;
              color:transparent;
              cursor: pointer;
              padding: 10px;
              border: none;
              text-align: right;
              outline: none;
              float: right;
             }
            
            .active, .collapsible:hover {
                background-color: #ffffff;
            }
            
            
            .page {
                text-decoration: none !important;
                color:black;
                font-style: bold !important;
                padding: 16px;
                width: 75%;
                display: inline-block;
                font-size: medium; font-family: 'Calibri';font-weight: bold;
                background-color: transparent;
            }
            .info {
                float: left;
            }
            .keyword{
                text-decoration: underline;
                font-family: 'Calibri'; color: #0070c0;
                font-style: italic;
            }
            .content{
                font-size: medium; font-family: 'Calibri';
                padding: 0 18px;
                background-color: white;
                max-height: 0;
                overflow: hidden;
                text-align:justify;
                transition: max-height 0.2s ease-out;
            }
            .content p{
                font-size: medium; font-family: 'Calibri';
            }
